<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TolyMusic_for_PC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TolyMusic_for_PC.Properties.Settings>
            <setting name="LocalDirectryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ShareDriver" serializeAs="String">
                <value />
            </setting>
            <setting name="ExclutionDriver" serializeAs="String">
                <value />
            </setting>
            <setting name="SDcustumized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EDcustumized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EDisASIO" serializeAs="String">
                <value>False</value>
            </setting>
        </TolyMusic_for_PC.Properties.Settings>
    </userSettings>
</configuration>